

@import 'header.css';
@import 'nav.css';
@import 'sections.css';
@import 'footer.css';

 :root{
    scroll-behavior: smooth;
    --bg : #445F9E;
}


body{
    margin: 0;
    padding: 0;
    background-color: rgb(190, 192, 216);
    font-family: sans-serif;
    line-height: 30px;
    color: #444;

}
ul{
    list-style: none;
}
a {
    color: rgb(45, 12, 136);
    text-decoration: none;
}
a:hover {
    color: hotpink;
}