
.container-fluid{
    margin: 0;
    padding: 0;
}
.row{

    margin: 50;
    padding: 50;
}

.col{

    margin: 50;
    padding: 50;
}

header, nav, section, footer{
    height: 90px;
}

header{
    background: red;
}

nav{
    background: purple;
}
section:nth-of-type(1){
    background: chocolate;
}
section:nth-of-type(2){
    background: rgb(172, 209, 5);
}
footer{
    background: green;
}